$baseFontFamily: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
$baseRootFontSize: 16px;
$baseFontSize: 1rem;
$baseColor: #31c27c;
$baseWhite: #fff;
$baseColorGray: rgba(0, 0, 0, .6);
$baseColorLighterGray: rgba(0,0,0,.3);
